In [33]:
import pandas as pd
import numpy as np

In [34]:
df = pd.read_csv('spam.csv',encoding="windows-1252")

In [35]:
df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
48,ham,"Yeah hopefully, if tyler can't do it I could m...",NaN,NaN,NaN
4831,ham,Rats. Hey did u ever vote for the next themes?,NaN,NaN,NaN
787,spam,Ever thought about living a good life with a p...,NaN,NaN,NaN
2239,ham,Every day i use to sleep after &lt;#&gt; so ...,NaN,NaN,NaN
4107,ham,Pls send me your address sir.,NaN,NaN,NaN

In [36]:
df = df.drop(columns=['Unnamed: 3','Unnamed: 2','Unnamed: 4'])

In [37]:
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [38]:
df.rename(columns={'v1':'target','v2':'text'},inplace=True)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   target  5572 non-null   object
 1   text    5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [40]:
df.duplicated().sum()

np.int64(403)

In [41]:
df=df.drop_duplicates(keep='first')

In [42]:
df.duplicated().sum()

np.int64(0)

In [43]:
df.shape

(5169, 2)

In [47]:
df.head()

  target                                               text
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [55]:
from sklearn.preprocessing import OrdinalEncoder

In [56]:
le = OrdinalEncoder()

In [57]:
(df['target'])=le.fit_transform(df[['target']])

In [58]:
df.head()

   target                                               text
0     0.0  Go until jurong point, crazy.. Available only ...
1     0.0                      Ok lar... Joking wif u oni...
2     1.0  Free entry in 2 a wkly comp to win FA Cup fina...
3     0.0  U dun say so early hor... U c already then say...
4     0.0  Nah I don't think he goes to usf, he lives aro...

In [60]:
df.isnull().sum()

target    0
text      0
dtype: int64